<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="css/output.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="text-5xl font-bold text-center text-gray-800 p-4"><%= questions.name %> addiction?</div>
    <form action="/level2/<%= questions.name %>" method="POST" novalidate>
    <% for(let i=1;i<=questions.length;i++) { %>
    <div class="Q<%= i %> mx-8 my-5 px-10 py-16 p-4 bg-gray-100 rounded-lg shadow">
        <h2 class="text-lg font-semibold mb-4"><%= questions[i] %></h2>
        <ul class="questions space-y-2">
            <li>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="mcq<%= i %>" value="1">
                    <span class="ml-2">Yes</span>
                </label>
            </li>
            <li>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="mcq<%= i %>" value="2">
                    <span class="ml-2">No</span>
                </label>
            </li>
            <li>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="mcq<%= i %>" value="3">
                    <span class="ml-2">Sometimes</span>
                </label>
            </li>
            <div class="float-right">
                <!-- give submit option here -->
                <% if(i==questions.length) { %>
                    <button type="submit" class="mr-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 saveAndnext submit pointer-events-none">
                        Submit & proceed to next section
                    </button>
                <% } %>
            </div>
            <li>
                <label class="inline-flex items-center">
                    <input type="radio" class="form-radio" name="mcq<%= i %>" value="4">
                    <span class="ml-2">Prefer not to say</span>
                </label>
            </li>
        </ul>

    </div>
    <% } %>
    </form>
    <script>
        const answered=[false,false,false,false,false];
        const saveAndnext=document.getElementsByClassName('saveAndnext')[0];
        const questionArr = document.getElementsByClassName('questions');
        var selected=0;
        for(let i=0;i<questionArr.length;i++){
            let options=questionArr[i].getElementsByTagName('input');
            for(let j=0;j<options.length;j++){
                options[j].addEventListener('input',()=>{
                    if(!answered[i]){
                        selected+=options[j].checked;
                    }
                    answered[i]=true;
                    if(selected==questionArr.length)
                    saveAndnext.classList.remove('pointer-events-none');
                });
            }
        }
    </script>
</body>
</html>