<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="css/output.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        .sticky-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* background-color: rgba(255, 255, 255, 0.9); */
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body class="bg-blue-100">
    <!-- <div class="flex justify-center items-center h-screen">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg">
          Show Sticky
        </button>
      </div> -->
    <div id="loading" class="flex items-center justify-center h-screen hidden">
        <div class="flex items-center justify-center">
            <img src="https://media.giphy.com/media/RmvMtf9lKtJjhe4Ggf/giphy.gif" alt="">
        </div>
    </div>
    <div id="stickyContainer"
        class="hidden sticky-container flex flex-col bg-green-200 px-8 py-6 max-w-sm mx-auto rounded-lg shadow-lg">
        <div class="mt-4">
            <p id="quote-box" class="text-lg text-blue-800 font-medium">Build Your New Idea with Laravel Freamwork.</p>
        </div>
        <div class="flex justify-end items-center">
            <div class="flex items-center">
                <img src="https://images.unsplash.com/photo-1502791451862-7bd8c1df43a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    class="w-8 h-8 object-cover rounded-full" alt="avatar">
                <a class="text-gray-700 text-sm mx-3" href="#">Gita</a>
            </div>
        </div>
        <div class="flex justify-end items-center mt-4">
            <div class="flex items-center">
                <button id="closeButton" type="button"
                    class="bg-gray-800 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-red-700 hover:text-white px-3">
                    <div class="flex flex-row align-middle">
                        <a href="/level2/screen" class="mr-2">Next Secttion</a>
                        <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div id="question" class="flex justify-center items-center h-screen">
        <div class="max-w-xl bg-gray-100 rounded-lg shadow-lg">
            <div class="p-4">
                <div class="bg-white rounded-lg p-2">
                    <p>Hi there! How are you feeling today? Share with us</p>
                </div>
                <div class="rounded-lg p-2 h-10">
                </div>
            </div>
            <div class="flex items-stretch px-4 py-2">
                <div class="relative w-96 flex-grow">
                    <div class="flex rounded-lg border-gray-300 border p-2">
                        <textarea id="inputBox" placeholder="Type your message..."
                            class="flex-grow outline-none bg-transparent resize-none" rows="2">
                        </textarea>
                        <button id="showButton" class="bg-blue-500 text-white px-3 py-1 rounded-lg self-end ml-2"
                            onclick="predict()">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <form action="/level1" method="POST" novalidate>
        <% for(let i=1;i<=0;i++) { %>
            <% if(i==1) { %>
                <div class="Q<%= i %> mx-8 my-5 px-10 py-16 p-4 bg-gray-100 rounded-lg shadow">
                    <% } else { %>
                        <div class="Q<%= i %> mx-8 my-5 px-10 py-16 p-4 bg-gray-100 rounded-lg shadow hidden">
                            <% } %>
                                <h2 class="text-lg font-semibold mb-4">
                                    <%= questions[i].Q %>
                                </h2>
                                <ul class="questions space-y-2">
                                    <li>
                                        <label class="inline-flex items-center">
                                            <input type="radio" class="form-radio" name="mcq<%= i %>" value="1">
                                            <span class="ml-2">
                                                <%= questions[i].opt1 %>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inline-flex items-center">
                                            <input type="radio" class="form-radio" name="mcq<%= i %>" value="2">
                                            <span class="ml-2">
                                                <%= questions[i].opt2 %>
                                            </span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="inline-flex items-center">
                                            <input type="radio" class="form-radio" name="mcq<%= i %>" value="3">
                                            <span class="ml-2">
                                                <%= questions[i].opt3 %>
                                            </span>
                                        </label>
                                    </li>
                                    <div class="float-right">
                                        <% if(i!=1) { %>
                                            <button type="button"
                                                class="mr-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 prev"
                                                onclick="prevCurr('<%= i-1 %>')">
                                                Previous
                                            </button>
                                            <% } %>
                                                <% if(i!=questions.length) { %>
                                                    <button type="button"
                                                        class="mr-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 pointer-events-none saveAndnext"
                                                        onclick="nextCurr('<%= i+1 %>',0)">
                                                        Save & next
                                                    </button>
                                                    <button type="button"
                                                        class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 skip"
                                                        onclick="nextCurr('<%= i+1 %>',1)">Reset and Skip</button>
                                                    <% } else { %>
                                                        <button type="submit"
                                                            class="mr-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 saveAndnext submit">
                                                            Submit & proceed to next section
                                                        </button>
                                                        <% } %>
                                    </div>
                                    <li>
                                        <label class="inline-flex items-center">
                                            <input type="radio" class="form-radio" name="mcq<%= i %>" value="4">
                                            <span class="ml-2">
                                                <%= questions[i].opt4 %>
                                            </span>
                                        </label>
                                    </li>
                                </ul>
                        </div>
                        <% } %>
    </form>
    <script>
        // const showButton = document.getElementById('showButton');
        // const stickyContainer = document.getElementById('stickyContainer');
        // const stickyHide = document.getElementById('stickyHide');

        // showButton.addEventListener('click', () => {
        //     stickyContainer.classList.remove('hidden');
        //     stickyHide.classList.add('hidden');
        // });
        const inputBox = document.getElementById('inputBox');

        inputBox.addEventListener('input', () => {
            inputBox.style.height = 'auto';
            inputBox.style.height = inputBox.scrollHeight + 'px';
        });

        async function predict() {
            // Create a new FormData object
            const loading = document.getElementById('loading');
            const question = document.getElementById('question');
            loading.classList.remove('hidden');
            question.classList.add('hidden');
            const input = (document.getElementById('inputBox').value).trim();
            console.log(input);
            const formData = new FormData();
            formData.append('answer1', input);
            // Make the API request
            await fetch('http://127.0.0.1:3004/predict', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(async(data) => {
                    console.log(data);
                    await save_mood(data);
                    loading.classList.add('hidden');
                    quote_show(data);
                })
                .catch(error => {
                    // Handle any errors that occurred during the request
                    console.log('Error:',);
                });

        }
        function quote_show(data) {
            const quote = document.getElementById('stickyContainer');
            document.getElementById('quote-box').innerText = data[1];
            quote.classList.remove('hidden');
        }
        async function save_mood(data) {
            const mood=data[0];
            await fetch('/level1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mood })
            })
                .then(result => {
                    console.log(result); // Response from the server
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        }
    </script>
</body>

</html>